body, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
  background-color: blueviolet
}

body {
  font-family: Arial, sans-serif;
  background-color: aquamarine;
  color: #333;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 30px;
  text-transform: lowercase;
}

section {
  margin-bottom: 30px;
}


#movie-bar {
  background-color: springgreen;
  padding: 20px;
  color: #fff;
}


#movie-bar h2 {
  font-size: 28px;
  margin-bottom: 10px;
}


#films {
  list-style: none;
  padding: 0;
}

.filmItem {
  cursor: pointer;
  margin-bottom: 10px;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  background-color: #555;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.filmItem:hover {
  background-color: red;
}


#movie-shown {
  background-color:silver;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}


#movie-name {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}


#movie-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.showTime, .runTime {
  font-size: 20px;
  margin-bottom: 10px;
  color: #777;
}


#film-tickets {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}


#ticket-Holder {
  font-size: 24px;
  margin-bottom: 20px;
  color: #555;
}


#buy-ticket {
  font-size: 20px;
  padding: 10px 20px;
  background-color: lemonchiffon;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


#buy-ticket:hover {
  background-color: #555;
}